@model IEnumerable<Consultorio.Domain.Models.Pergunta>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Html.ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
}

<h3>
    Perguntas: @ViewBag.grupo
</h3>

<br />
<p>
    <input type="button" class="btn btn-primary" value="Nova Pergunta"
           onclick="location.href='@Url.Action("Create", "Pergunta", new { grupoid = Request.Params["grupoid"] })'" />
    <input type="button" class="btn btn-primary" value="Voltar"
           onclick="location.href='@Url.Action("Index", "PerguntaGrupo", new { grupoid = Request.Params["grupoid"] })'" />

</p>
<table class="table table stripped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sequencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PerguntaGrupo.Descricao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequencia)
            </td>
            <td>
                @(item.AtivoCheck ? "Sim" : "Não")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerguntaGrupo.Descricao)
            </td>
            <td>
                <div class="btn-group">
                    <input type="button" class="btn btn-default" value="Editar" onclick="location.href='@Url.Action("Edit", "Pergunta", new {grupoid = Request.Params["grupoid"], id = item.Id })'" />
                    <input type="button" class="btn btn-default" value="Detalhe" onclick="location.href='@Url.Action("Details", "Pergunta", new { grupoid = Request.Params["grupoid"], id = item.Id })'" />
                    <input type="button" class="btn btn-default" value="Excluir" onclick="location.href='@Url.Action("Delete", "Pergunta", new { grupoid = Request.Params["grupoid"], id = item.Id })'" />
                </div>
            </td>
        </tr>
    }

</table>
