@model Consultorio.Domain.Models.Empresa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Empresa</h3>
<p></p>
<fieldset>
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="display-label">
                        <label class="col-sm-2 text-info">Código</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="control-label">@Html.DisplayFor(model => model.Id)</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="display-label">
                        <label class="col-sm-2 text-info">Nome</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="control-label">@Html.DisplayFor(model => model.Nome)</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="display-label">
                        <label class="col-sm-2 text-info">Cidade</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="control-label">@Html.DisplayFor(model => model.Cidade)</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="display-label">
                        <label class="col-sm-2 text-info">Observação</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="control-label">@Html.DisplayFor(model => model.Observacao)</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="display-label">
                        <label class="col-sm-2 text-info">Ativo</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="control-label">@(Model.Ativo == 1 ? "Sim" : "Não")</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="display-label">
                        <label class="col-sm-2 text-info">Data Criação</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="control-label">@Html.DisplayFor(model => model.AddedDate)</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="display-label">
                        <label class="col-sm-2 text-info">Data Atualização</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="control-label">@Html.DisplayFor(model => model.ModifiedDate)</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</fieldset>
<p>
    <input type="button" class="btn btn-primary" value="Editar" onclick="location.href='@Url.Action("Edit", "Empresa", new { id = Model.Id })'" />
    <input type="button" class="btn btn-primary" value="Voltar" onclick="location.href='@Url.Action("Index", "Empresa", new { id = Model.Id })'" />
</p>
