@model Consultorio.Domain.Models.TipoExame

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            @Html.ValidationSummary()
        </div>
    }

    <fieldset>
        <h4> Confirma a exclusão do tipo de exame: @Html.DisplayFor(model => model.Descricao) ?</h4>
    </fieldset>
    <p>
        @Html.HiddenFor(model => model.Id)
        <input type="submit" value="Excluir" class="btn btn-primary" />
        <input type="button" class="btn btn-primary" value="Cancelar" onclick="location.href='@Url.Action("Index", "TipoExame")'" />
    </p>
}
