@model IEnumerable<Consultorio.Domain.Models.Funcionario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Html.ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
}

<h3>Funcionários</h3>
<p>
    @using (Html.BeginForm("Index", "Funcionario", FormMethod.Get))
    {
        <div class="panel panel-default">
            <div class="panel-heading">Filtro</div>
            <div class="panel-body">
                <form class="form-inline" role="form">
                    <div class="row">
                        <div class="col-md-2 row-controls">Empresa:</div>
                        <div class="col-md-5 row-controls">
                            @Html.DropDownList("EmpresaId", (SelectList)ViewBag.Empresas, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2 row-controls">
                            <input type="submit" value="Procurar    " class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
<p>
    <input type="button" name="btnNovo" class="btn btn-primary @(ViewBag.EmpresaId <= 0 ? "disabled" : "")" value="Novo Funcionário" onclick="location.href='@Url.Action("Create", "Funcionario", new { empresaId = ViewBag.EmpresaId})'" />
</p>
<table class="table table stripped">
    <tr>
        <th>
            Departamento
        </th>
        <th>
            Cargo
        </th>
        <th>
            Nome
        </th>
        <th>
            Situação
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SituacaoFuncionario.Descricao)
            </td>
            <td>
                <div class="btn-group">
                    <input type="button" class="btn btn-default" value="Editar" onclick="location.href='@Url.Action("Edit", "Funcionario", new { id = item.Id })'" />
                    <input type="button" class="btn btn-default" value="Detalhe" onclick="location.href='@Url.Action("Details", "Funcionario", new { id = item.Id })'" />
                    <input type="button" class="btn btn-default" value="Excluir" onclick="location.href='@Url.Action("Delete", "Funcionario", new { id = item.Id })'" />
                </div>
            </td>
        </tr>
    }

</table>
